body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.form{
	text-align: center;
}
.form .form-inner fieldset div{
	padding: 10px 0 10px 0;
}
.form .form-inner fieldset label{
	display: block;
	width: 342px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}
.form .form-inner fieldset label:nth-child(odd){
	background:#000;
	color: #fff;
}
.form .form-inner fieldset input{
	width: 342px;
	padding: 8px;
}

.form .form-inner fieldset textarea{
	display: block;
	margin-top: 10px;
	resize: none;
	width: 342px;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 678px) {
	.form .form-inner fieldset label{
		width: 80%;
	}
	.form .form-inner fieldset input{
		width: 80%;
	}
	.form .form-inner fieldset textarea{
		width: 80%;
	}
}
